@font-face {
    font-family: 'stearegular';
    src: url('steafont-webfont.woff2') format('woff2'),
         url('steafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
