{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <nav class="fixed-text-end">
            <a href="#whenandwhere">When and Where</a>
            <a href="#">Registry</a>
            <a href="#">RSVP</a>
        </nav>
        <div class="img-main height-full-screen width-full-screen">
            <div class="row">
                <div class="column">
                    <h1 class="text-center vertical-center">Bri and Noah</h1>
                </div>
            </div>
        </div>
        <div id="whenandwhere" class="img-second height-full-screen">
            <div class="row">
                <div class="column">
                    <h1 class="text-center">Bri and Noah</h1>
                </div>
            </div>
        </div>
    </body>
</html>
