{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include "wedding/navbar.html" %}
        {% if subpage %}
            {% include "wedding/subpage.html" with page_to_load=page_to_load %}
        {% else %}
            {% include page_to_load %}
        {% endif %}
    </body>
</html>
