<div class="navigation">
    <div class="title text-center">
        <h1 class="margin-none" style="font-family: 'Parisienne', cursive; letter-spacing: unset; font-size: 8rem; margin-bottom: -2.75rem;">Our Wedding</h1>
        <h4 class="margin-none">Briana & Noah</h4>
    </div>
    <nav>
        <a href="/">Our Wedding</a>
        <a href="/#whenandwhere">When & Where</a>
        <a href="{% url 'accommodations' %}">Accomodations</a>
        <a href="/#registry">Registry</a>
        <a href="/#photos">Photos</a>
        <a href="/#rsvp">RSVP</a>
    </nav>
</div>
