<div class="navigation">
    <div class="title text-center">
        <!-- <h1 class="margin-none" style="font-family: 'Parisienne', cursive; letter-spacing: unset; font-size: 8rem; margin-bottom: -2.75rem; margin-top: 2rem">Our Wedding</h1> -->
        <h1 style="font-size: 7rem; margin-top: 2rem !important; margin-bottom: 0; font-family: 'stearegular' !important;">Briana & Noah</h1>
    </div>
    <nav>
        <a href="/">Our Wedding</a>
        <a href="/#whenandwhere">When & Where</a>
        <a href="{% url 'accommodations' %}">Accommodations</a>
        <a href="/#registry">Registry</a>
        <a href="/#photos">Photos</a>
        <a href="/#rsvp">RSVP</a>
    </nav>
</div>
