html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    /* position: fixed; */
    padding: 1rem;
    background: white;
    text-align: center;
}

nav a {
    padding: 2.0rem;
    font-size: 1.75rem;
    /* font-weight: bold; */
    /* text-shadow: 1px 1px 1px black; */
    /* text-decoration: none; */
}

a:link {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}

.white {
    color: #FFFAFA !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #777;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #777;
}

::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

.text-center {
    text-align: center;
}

.text-center-important {
    text-align: end !important;
}

.text-end {
    text-align: end;
}

.text-end-important {
    text-align: end !important;
}

.fixed-text-end {
    right: 0;
    margin-right: 1em;
}

.fixed-text-end-important {
    right: 0 !important;
    margin-right: 1em;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.margin-none {
    margin: 0;
}

.p-6 {
    padding: 6rem;
}

.p-4 {
    padding: 4rem;
}

.p-20 {
    padding: 20rem;
}

.img-main {
    background: url('../img/main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3d(0,0,-1);
}

.img-second {
    background: url('../img/second.jpg') no-repeat fixed;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    background-position: right;
    -webkit-transform: translate3d(0,0,-1);
}

.img-third {
    background: url('../img/third.jpg') no-repeat fixed;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    background-position: left;
    -webkit-transform: translate3d(0,0,-1);
}

.height-full-screen {
    height: 100% !important;
}

.width-full-screen {
    width: 100% !important;
}

.row.third {
    height: 28%;
}

.h-10 {
    height: 10%;
}

.card {
    height: 80%;
    width: 50%;
    padding: 0.5em;
    margin: auto;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 4px 2px rgb(51,195,240,0.2);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

#lightgallery div img {
    /* max-width: 30%; */
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* max-height: s%; */
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  margin-left: 8px !important;
  /* padding: 0 4px; */
}

.column-offset {
    /* margin-left: 8% !important; */
}

.column img {

  margin-top: 8px;
  vertical-align: middle;
  /* width: 104%; */
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-center {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block !important;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
     margin-bottom: 0 !important;
}
.form-radio:checked::before
{
     position: absolute;
     /* font: 13px/1 'Open Sans', sans-serif; */
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.background-secondary {
    background-color: #FBF3F2;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
}
